<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Hello  <%=@user.name%>.
    </h1>
    <h3>You are <%= @user.height %> feet tall.</h3>
    <h3>Your E-mail is <%= @user.email %>.</h3>
  </div>
<h3>This is your todo list... </h3>

  <ul id='taks-list' class="list-group">

    <% @items.each do |item|%>
      <%= render partial: "items/item", locals: { item: item, hidden: false } %>
    <% end%>

  </ul>
<h3>
  <%= render partial: "items/form", locals: { user: @user, item: Item.new } %>
</h3>
</div>
