<!DOCTYPE html>
<html>
    <head>
        <title>Blocitoff</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
              Blocitoff
            </a>
          </div>
          <div class="collapse navbar-collapse pull-left">
            <ul class="nav navbar-nav">
                 <li><%=link_to "Home" , welcome_home_path %></li>
                <li><%= link_to "About", welcome_about_path %></li>
                <li><%= link_to "Contact", welcome_contact_path %></li>
            </ul>
          </div>
          <div class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">

              <% if user_signed_in? %>
              <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
              <li>
                  <%= link_to "View #{current_user.name}'s profile", authenticated_root_path %></li>

              <% else %>

              <li>
                  <%= link_to "Sign up", new_user_registration_path %></li>
              <li>
                  <%= link_to "Sign in", new_user_session_path %></li>

              <% end %>
            </ul>
          </div>
        </div>
      </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="container">
      <%= yield %>
    </div>

</body>
</html>
