<!DOCTYPE html>
<html>
    <head>
        <title>Blocitoff</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>

      <div class="row">
        <div class="col-sm-12">
        <ul>
            <% if user_signed_in? %>
            <li>
                <%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
                <li> <%= link_to "View #{current_user.name}'s profile", authenticated_root_path %></li>

        <% else %>

            <li>
                <%= link_to "Sign up", new_user_registration_path %></li>
            <li>
                <%= link_to "Sign in", new_user_session_path %></li>

            <% end %>
            <li><%= link_to "Home", welcome_home_path %></li>
            <li><%= link_to "About", welcome_about_path %></li>
            <li><%= link_to "Contact", welcome_contact_path %></li>
        </ul>
      </div>
      </div>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>

    </body>
</html>
